<div class="jumbotron animated fadeIn fast">
    <h1 class="display-5">{{ author.firstName | uppercase }} {{ author.lastName | uppercase }}</h1>
    <hr class="my-4">
    <h3 class="display-5"> Information </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tellus justo, sagittis a luctus eu, tempor at nunc. In vitae massa dui. Donec placerat ligula orci, vitae viverra quam condimentum ut. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu ante felis. Nunc purus augue, fringilla eget dolor quis, congue eleifend leo. Sed pellentesque eget enim eu tempor. Mauris laoreet
        felis et neque sodales lacinia a sit amet metus. Sed cursus rhoncus lectus at bibendum. Suspendisse volutpat velit eget iaculis aliquam. </p>
    <a [routerLink]="['/all-authors']" class="btn btn-outline-dark">Back</a>
</div>