<div class="row animated fadeIn fast">
    <div class="col">
        <h1>Authors</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
            </thead>
            <tbody *ngFor="let author of authors; let i = index">
                <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ author.firstName }}</td>
                    <td>{{ author.lastName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>